body{
    background-color: #af9690;
}

/* div {
    text-align: center;
  } */

div,h1{
    color: #a8516e;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    padding: 0%;
    margin: 0%;
}

h2,h3{
    font-size: 50px;
    text-align: center;
    color: #604b62 ;
}

p,li{
   color: #604b62;
   font-size: 30px;
}

button,a{
    font-size: 50px;
    text-decoration: none;
    color: #604b62 ;
    background-color: #c0b1b2 ;
}